body {
  margin: 0;
    padding: 0;
}
.timeline {
    max-height: auto;
    max-width: auto;
    display: flex;
    z-index: 9;
    position: absolute;
    left: 50px;
    top: 300px;
    background-color: gray;
    border: solid red 2px;
}

.timeline .item{
    width: 110px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    background-color: #ddd;
    margin-right: 8px;
    display: inline-block;
}

.timeline-imgs .item img{
    object-fit: cover;
}

svg path {
    fill-opacity: 0;
    animation: draw 7s 1 forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events:visibleStroke;
    z-index: 9;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  svg path:hover {
    fill:red;
    stroke:red;
  }

svg{
    position: absolute;
    z-index: 1;
    background-color: white;
    
}

body {
    background-color: #ddd;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main .sidebar {
  border: 3px solid black;
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 60%;
  height: 100%
}

.sidebar {
  width: 40%;
  height: 100%;
  z-index: 9;
}